<header class="blog-header" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
  <div class="wrapper">
    <h1 class="blog-title">{{@blog.title}}</h1>
    <div class="blog-description">
        {{@blog.description}}
    </div>
  </div>
</header>
