<div class="sharing">
  <div class="socials-top colors-hover">
    <ul>
      <li><a href="https://twitter.com/gtheme_io"><span class="fa fa-twitter"></span></a></li>
      <li><a href="https://www.facebook.com/pages/GTheme/1382577158670394"><span class="fa fa-facebook"></span></a></li>
      <li><a href="https://plus.google.com/111161696319906712549/"><span class="fa fa-google-plus"></span></a></li>
      <li><a href="https://github.com/"><span class="fa fa-github"></span></a></li>
      <li><a href="https://dribbble.com/"><span class="fa fa-dribbble"></span></a></li>
      <li><a href="http://instagram.com/"><span class="fa fa-instagram"></span></a></li>
      <li><a href="http://www.youtube.com/"><span class="fa fa-youtube"></span></a></li>
      <li><a href="https://www.pinterest.com/"><span class="fa fa-pinterest"></span></a></li>
      <li><a href="https://www.linkedin.com/"><span class="fa fa-linkedin"></span></a></li>
      <li><a href="http://www.skype.com/"><span class="fa fa-skype"></span></a></li>
      <li><a href="https://www.tumblr.com/"><span class="fa fa-tumblr"></span></a></li>
      <li><a href="{{@blog.url}}/rss/"><span class="fa fa-rss"></span></a></li>
    </ul>
  </div>
</div>
