.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #00976d;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #00976d;
}
.blog-header {
  background-color: #00ca92;
}
.blog-title a:hover,
.blog-title a:focus {
  color: #00ca92;
}
.nav-top {
  background-color: #00ca92;
}
.nav-top a:hover,
.nav-top a:focus {
  color: #00976d;
}
a {
  color: #00ca92;
}
a:hover,
a:focus {
  color: #00976d;
}
blockquote {
  border-left: 5px solid #00ca92;
}
.btn-dark {
  background-color: rgba(0, 202, 146, 0.5);
}
.btn-dark:hover {
  background-color: rgba(0, 202, 146, 0.9);
}
.post-title a:hover,
.post-title a:focus {
  color: #00ca92;
}
.post-featured {
  color: #00ca92;
}
.post-featured:after {
  border-color: transparent #00ca92 transparent transparent;
}
.post-featured:before {
  border-color: transparent transparent transparent #00ca92;
}
.post-meta a:hover,
.post-meta a:focus {
  color: #00976d;
}
.post-meta .fa {
  color: #00ca92;
}
.post-footer .post-tags a:hover,
.blog-tags .post-tags a:hover,
.post-footer .post-tags a:focus,
.blog-tags .post-tags a:focus {
  background-color: #00ca92;
}
.post-more a:hover,
.post-more a:focus {
  color: #00ca92;
}
.page-tag span {
  color: #00ca92;
}
.blog-footer a:hover,
.blog-footer a:focus {
  color: #00fdb7;
}
